<ion-header>
  <ion-toolbar>
    <ion-title>Mis Recordatorios</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="goToAddReminderPage()">
        <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="reminders && reminders.length > 0; else noReminders">
    <ion-item-sliding *ngFor="let reminder of reminders">
      <ion-item>
        <ion-label>
          <h2>{{ reminder.text }}</h2>
          <p>Hora: {{ reminder.time }}</p>
          <p>Frecuencia: {{ getFrequencyText(reminder) }}</p>
          <p>Estado: {{ reminder.enabled ? 'Activado' : 'Desactivado' }}</p>
          <div *ngIf="isCompletedToday(reminder.id)" style="color: var(--ion-color-success); font-weight: bold; margin-top: 4px;">
            <ion-icon name="checkmark-done-circle-outline"></ion-icon> Completado Hoy
          </div>
        </ion-label>

        <ion-buttons slot="end">
          <ion-button *ngIf="!isCompletedToday(reminder.id)" (click)="toggleCompletionToday(reminder)" fill="clear" title="Marcar como completado hoy">
            <ion-icon slot="icon-only" name="checkmark-circle-outline" color="success"></ion-icon>
          </ion-button>
          <ion-button (click)="goToEditReminderPage(reminder.id)" fill="clear" title="Editar Recordatorio">
            <ion-icon slot="icon-only" name="create-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="confirmDeleteReminder(reminder.id, reminder.text)">
          <ion-icon slot="start" name="trash-outline"></ion-icon>
          Eliminar
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ng-template #noReminders>
    <div style="text-align: center; padding-top: 20px;">
      <p>Aún no hay recordatorios. ¡Añade uno!</p>
    </div>
  </ng-template>
</ion-content>
