<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/reminder-list"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ isEditMode ? 'Editar Recordatorio' : 'Añadir Recordatorio' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="reminderForm" (ngSubmit)="saveReminder()">
    <ion-item>
      <ion-label position="floating">Texto del Recordatorio</ion-label>
      <ion-input formControlName="text" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Hora (e.g., 09:00)</ion-label>
      <ion-input formControlName="time" type="time"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Frecuencia</ion-label>
      <ion-select formControlName="frequency" interface="popover">
        <ion-select-option value="daily">Diario</ion-select-option>
        <ion-select-option value="weekly">Semanal</ion-select-option>
      </ion-select>
    </ion-item>

    <div *ngIf="reminderForm.get('frequency')?.value === 'weekly' || reminderForm.get('frequency')?.value === 'daily'">
      <ion-list-header>
        <ion-label>Días Activos de la Semana (para Semanal, o Diario específico)</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let day of daysOfWeekOptions">
        <ion-label>{{day.name}}</ion-label>
        <ion-checkbox slot="end" [(ngModel)]="day.isChecked" [ngModelOptions]="{standalone: true}"></ion-checkbox>
      </ion-item>
    </div>

    <div>
      <ion-list-header>
        <ion-label>Días Opcionales (e.g., omitir en estos días)</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let day of optionalDaysOptions">
        <ion-label>{{day.name}}</ion-label>
        <ion-checkbox slot="end" [(ngModel)]="day.isChecked" [ngModelOptions]="{standalone: true}"></ion-checkbox>
      </ion-item>
    </div>

    <ion-button expand="full" type="submit" [disabled]="reminderForm.invalid">
      {{ isEditMode ? 'Actualizar Recordatorio' : 'Añadir Recordatorio' }}
    </ion-button>
  </form>
</ion-content>
